[run]
source = src
branch = True
omit =
    */tests/*
    */.venv/*
    */__pycache__/*
    src/board/scrape.py
    src/board/clean.py
    src/app.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    except ImportError:
    print\(